/* common styles over all pages */

:root {
    --primary-color:black;
    --secondary-color: #2400a8;
    --title-color:white;
    --title-background:#183a16; 
    --subtitle-color:#2400a8;
    --text-color:black;
    --background-color: whitesmoke;
    --border-radius:7px;
    --margin:.5rem;
    --padding:.5rem;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: 400;
    font-style:normal;
    line-height: 1.5;
}
body{
    max-width: 900px;
    width: 400px;
    margin: 0 auto;
    background-color: var(--background-color);
    height: auto;
}
header, footer{
    
    width: 100%;
    background-color: var(--title-background);
    color: var(--title-color);
    border-color:var(--title-background);
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    height: auto;
    text-align: center;
}
header{
    position: relative;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom: 0;

}

/* home button style */
.home {
    padding: 0;
    border: ridge;
    border-radius: 10px;
    height: 25px;
    width: 100px;
    background-color: aquamarine;
    text-align: center;
    margin-top: var(--margin);
} 

footer{
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-top: 0;
    font-size: small;
    margin-top: 1rem;
 }
