*{
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;
    color: white;
}

body {
    display: grid;
    height: 100vh;
    grid-template: 1fr 3fr 1fr / 1fr 1fr 1fr ;
    border:0cm;
    
  }
  
header {
    background: #333333;
    padding: 0rem;
    grid-column: 1 / 4;
  }

nav {
    background-color: black;
    padding: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-spacing: 0px;
    margin-bottom: 0%;

}

main {
    background: rgb(116, 70, 54);
    grid-column: 1 / 3;
    
      }
  
aside {
grid-column: 3 / 4;
background: rgb(236, 243, 242);

}
aside>h2,aside>p {
    color: blue;
}
  
footer {
    background: #333333;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  
 
  