:root {
    --primary-color:#3269ff;
    --secondary-color: #2400a8;
    --text-title-color:white;
    --subtitle-color:#2400a8;
    --text-color:black;
    --background-color: white;
   
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* display: flex;
    flex-direction: column; 
    align-items: center;*/
   
    /* max-width: 1500px; */
    width: auto;

    align-items: center;
    font-family: "Roboto";
    font-weight: 400;
    font-style:normal;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}
header, footer{
    background-color: var(--primary-color);
    color: var(--text-title-color);
    text-align: center;
    padding: 0.5rem;
}
header {
    font-size: 1.5rem;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;  
}
.data p, .weather p {
    text-align: right;
    text-decoration:solid;
    font-size: large;
    font-weight: bold;
    padding-right: .5rem;
}
.info span, .weather span {
    text-align: left;
    text-decoration:solid;
    font-size: medium;
    padding-left: .5rem;
}
.hero img {
    width: 100%;
    height: auto;
}
.data, .weather {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}


.weather-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
}
.weather img {
    display: block;
    width: 40%;
    height: auto;
}
h2 {
    font-family: "Roboto";
    color: var(--subtitle-color);
    text-align: center;
    font-size: xx-large;
}

footer {
    margin-top: 1rem;
}
