 @media screen and (min-width: 650px) {
   .hero{
        position: relative;
    }
    .data , .weather{
        
        font-size:smaller;
        position: absolute;
        background-color: white;
        opacity: 75%;
        
        border-radius: 10%; 
        margin:  0;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 1;
        
    }
    .data{
        width: 250px;
        top: 90px;
        left: 4px;
        height: auto;
        text-align: left;
    }
    .weather{
        width: 240px;
        height: auto;
        top: 300PX;
        right: 4px;
    } 
    
    h2{
        font-size: x-large;
        color: rgb(255, 255, 255);
        width: 150px;
        height: 35px;
        background-color: darkblue;   
        border-style:ridge;
    
        
    }
    .data h2{
        left: 0;
    }
    .data p, .weather p {
        opacity: 100%;
        padding-right: .5rem;
    }
    .info span, .weather span {
        opacity: 100%;
        padding-left: .5rem;
    }
    .weather-title{
        display: flex;
        flex-direction: row;
    }
    .weather img {
        display:block;
        width: 32px;
        height: auto;
    }
    main{
        margin-bottom: 0%;
    }
    footer{
        margin-top: 0%;
    }
    .weather img::after {
        padding-left: 2rem;
        
    }
}
